$maxWidth: 500px;
$dropbtnBgColor: #3498db;
$dropbtnWithResultBgColor: #971414;
$dropbtnWithResultBgColorHover: darken(#971414, 10%);
$elementFoundColor: darken(#971414, 20%);
$elementFoundBgColor: lighten(#971414, 60%);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 85vw;
  height: 100vh;
  max-width: $maxWidth;
  outline: none;
  line-height: 2;

  .dropbtn {
    width: 100%;
    background-color: $dropbtnBgColor;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 1rem;
    outline: none;

    &.withResult {
      background-color: $dropbtnWithResultBgColor;
      &:hover,
      &:focus {
        background-color: $dropbtnWithResultBgColorHover;
      }
    }

    .title {
      display: table;
      margin: 0 auto;
      padding: 0.5rem;
      cursor: pointer;
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }

    .searchTerm {
      font-size: 1rem;
      min-height: 1rem;
      text-align: center;
      cursor: pointer;
      &.empty {
        opacity: 0.8;
        font-size: 0.8rem;
      }
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }

    .resultsCount {
      margin-left: 1rem;
    }
  }

  .dropdown-content {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;

    max-height: 60%;
    overflow-y: scroll;

    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    &.show {
      display: flex;
      flex-direction: column;
    }

    .item,
    .resultsCount {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      &.found {
        color: $elementFoundColor;
        background-color: $elementFoundBgColor;
      }
    }

    .resultsCount {
      position: fixed;
      align-self: flex-end;
      max-width: calc(#{$maxWidth} - 50px);
      background: rgba(0, 0, 0, 0.15);
      user-select: none;
    }
  }
}
